.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn {
  margin-bottom: 10px;
}

.blue-button {
  background-color: #435d7d !important;
  color: white;
}

.mat-header-cell {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  color: black;
  font-size: 14px;
}
.dark-blue {
  background-color: #435d7d;
}
