<div class="card">
  <div class="card-header title">
    {{ title }}
  </div>
  <div></div>
  <div class="card-body">
    <div>
      <alert></alert>
    </div>
    <nav class="nav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="employees"
            routerLinkActive="active"
            >Employee List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add">Add Employee</a>
        </li>
      </ul>
    </nav>
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="card-footer footer">
    <span class="float-sm-left"
      >Designed & Developed by
      <a
        href="https://github.com/jmriyaz84"
        target="_blank"
        style="color: yellow;"
        >Mohammed Riyaz</a
      >
    </span>
    <span class="float-sm-center">
      <a
        href="https://github.com/jmriyaz84/employee-management-client"
        target="_blank"
        style="color: yellow;"
        >Code Base</a
      ></span
    >
    <span class="float-sm-right">{{ today | date: "medium" }}</span>
  </div>
</div>
